ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    background-color: rgb(231, 192, 141)
}


.ulnavbar {
    text-align: center;
    display: flex;
    align-items: center;
    margin: var(--20px) auto 0;
    position: relative;
    justify-content: center;
    font-family: cinzel;
    font-size: x-large;
    color: #060d5d;
    top: 0;
    overflow: hidden;
    gap: 50px;

}

.firsttextbelownav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4.37%;
    font-family: Cinzel;
    color: #646cc8;
}

body {
    background-color: rgb(231, 192, 141);
}


.enfantsect1 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

footer {
    height: 28vh;
    margin-left: 39vh;
    margin-right: 20%;
    width: 95vh;
}

.formulairefooter {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: wheat;
    height: 200px;
    border-radius: 20px;
    flex-direction: column;
    margin-left: 112px;
  
}

#monparcours {
    border: white solid 2px;
    width: 20vh;
    border-radius: 11px;
    height: 4vh;
    background-color: wheat;
}

button {
    background-color: rgb(220, 148, 55);
    border-radius: 9px;
    padding: 2px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.parentsect {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.textp {
    background-color: rgb(220, 209, 209);
    margin: 10px;
    border-radius: 20px;
}

.enfant1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    flex-wrap: wrap;
    background-color: wheat;
    border-radius: 10px;
    border: rgb(255, 255, 255) solid 2px;
    margin-top: 16.3px;
    margin-right: -142px;
}

img {
    width: 40vw;
    height: 40vh;
    border-radius: 20px;
}

.parentsect2 {
    display: flex;
    justify-content: center;
}

.enfant2 {
    border-radius: 20px;
    border: rgb(255, 255, 255) solid 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: wheat;
}

.enfant3 {
    border-radius: 20px;
    border: rgb(255, 255, 255) solid 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: wheat;
}


#subject {
    height: 393px;
}