ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    background-color: rgb(231, 192, 141)
}


.ulnavbar {
    text-align: center;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--20px) auto 0;
    position: relative;
    justify-content: space-around;
    margin-left: 50vh;
    margin-right: 50vh;
    font-family: cinzel;
    font-size: x-large;
    color: #060d5d;
    position: sticky;
    top: 0;
    overflow: hidden;

}

.firsttextbelownav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4.37%;
    font-family: Cinzel;
    color: #646cc8;
}

body {
    background-color: rgb(231, 192, 141);
}


.enfantsect1 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

footer {
    height: 5vh;
    margin-left: 20%;
    margin-right: 20%;
}

.formulairefooter {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

button {
    background-color: rgb(220, 148, 55);
    border-radius: 9px;
    padding: 2px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: large;
    color: rgb(2, 0, 146);
}

.parentsect {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.textp {
    background-color: grey;
    margin: 10px;
}

.enfant1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    flex-wrap: wrap;

}

#img1 {
    width: 40vw;
    height: 40vh;
    border-radius: 20px;
}

.parentsect2 {
    display: flex;
    justify-content: center;
}

.enfant2 {
    border-radius: 20px;
    border: rgb(255, 255, 255) solid 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: wheat;
}